.App {
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.banner-card{
  width: 100vw;
  margin-top: 1vh;
  margin-bottom: 3vh;
  position: relative;
  height: 70vh;
  color: white;
}

.banner-img{
height: 70vh;
width: 100%;
}

.banner-title{
position: absolute;
top: 45vh;
left: 5vw;
}

.banner-text{
position: absolute;
top: 55vh;
left: 5vw;
height: 4.5rem;
overflow: hidden;
margin-right: 5vw;
}
.Movie-card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
  /* justify-content: space-around; */
  gap: 1em;
  margin-left: 1.5em;
}
.movie-card{
  height: 40vh;
  width: 20vw;
  

  
}
.moviecard-img{
  height: 40vh;
  width: 100%;
  position: relative;
  border-radius: 5px ;
 
}
.movie-card-title{
position: absolute;
top: 1rem;
color: #f0f0f0;
left: 2rem;
}
.button-wrapper{
display: flex;
justify-content: center;
}
.pagination-container{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}




@media screen and (max-width:455px){
  .banner-card{
    height: 30vh;
    
  }
  .banner-img{
    height: 100%;
  }
  .banner-title{
    top: 12vh;
    left: 5vw;
  }
  .banner-text{
    top: 17vh;
    left: 5vw;
  }
  .movie-card{
    width: 40vw;
    margin: 0.1rem;
    height: 25vh;
  }
  .moviecard-img{
    width: 100%;
    height: 100%;
  }
  .movie-card-button{
    width: 80%;
    
  }
}

